DATABASE_URL="postgresql://neondb_owner:npg_UjFepNnwf74z@ep-damp-brook-ama5odjj-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="mylocaldevsecret123456789abcdef"